/*
 *= require_tree .
 *= require_self
 */

body {
  background-color: #E2D8C1;
  color: #086B63;
}

#content {
  max-width: 950px;
  margin: 30px auto;
}

#header {
  height: 100px;
  background-color: #BFAE95;
}

#title {
  float: left;
}


/*---------Navigation styles-----------------------*/

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding-left: 20px;
}